#store-header {
    padding:1px;
    padding-right:2em;
    padding-left:2em;
    background-color: var(--secondary-color);
    color: var(--background-color);
    justify-content:space-evenly;
    align-items:center;
}

#store-header h1 {
    text-align: right;
}