#store-nav-toggle {
    width:min-content;
    padding:5px;
}

#store-nav-toggle div {
    width: 2em;
    height: 2px;
    background-color: var(--quaternary-color);
    margin:4px 0;
}

#store-nav-items li {
    color: var(--background-color);
}

/* Resolution */
@media only screen and (orientation:landscape) {
    #store-nav-toggle {
        display: none; /* Hidden on desktop */
    }
}