/* Universal structure and styling */
:root {
  --background-color: #ffffff;
  --primary-color: #bda593;
  --secondary-color: #1b1b1b;
  --tertiary-color: #d1b599;
  --quaternary-color: #866060;
  --quinary-color: #e6e6e6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin:0;
}

img {
  max-width: 100%;
}

/* Basic classes */
.link {
  text-decoration: none;
  color: inherit;
}

.hide-small {
  display: none;
}

.hidden {
  display: none;
}

/* Flex-related classes */
.flex {
  display: flex;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

/* Resolution */
@media only screen and (orientation:landscape) {
  .columns {
    display:flex;
  }

  .hide-small {
    display:flex;
  }
}