/* Universal structure and styling */
:root {
  --background-color: #e6e6e6;
  --primary-color: #bda593;
  --secondary-color: #1b1b1b;
  --tertiary-color: #d1b599;
  --quaternary-color: #866060;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

ul {
    list-style-type:none;
    padding-left:0;
}

img {
    max-width:100%;
}